$max-width--wrapper: 1320px;
$min-width--wrapper: 375px;

$paddings-side: 5rem;
$paddings-side--movil: 1rem;

$margin-section: 60px;
$margin-section--movil: 40px;

/* ====== Font ====== */
$font-family--general: 'Roboto', sans-serif;
$font-size--general: 16px;

$font-family--title: 'Gilroy', sans-serif;
$font-size--h1: 54px;
$font-size--h2: 42px;
$font-size--h3: 36px;
$font-size--hn: 18px;

/* ====== Colors ====== */
$color-principal: var(--color-base-principal);
$color-text: var(--color-base-text);
$color-title: var(--color-base-title);
$color-background: var(--color-base-bg);
$color-link: var(--color-base-link);
$color-success: #428445;
$color-error: #EB001B;

$color-black: #000000;
$color-white: #FFFFFF;
$color-gray: #C4C4C4;

/* ====== Break points ====== */
$break-point-product: 768px;
$break-point-header: 1000px;
